#app {
    padding-left: 0px;
    padding-right: 0px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav div a.btn-cred {
    padding: 0px 3px 0px 3px !important;
}


nav div.float-right div.dropdown-menu form {
    width: 180px;
}

nav div.float-right div.dropdown-menu form input.form-control::placeholder {
    font-size: 13px;
}

.locations-list {
    max-width: 600px;
}

.locations-list .location {
    width: 150px;
    cursor: pointer;
}

#nprogress .spinner {
    top: 20px;
}
